<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings["name"]) }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/panoptes.css"> 
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">    
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  {% block head %}{% end %}
</head>
<body>
  {% include 'nav.hbs' %}
  <div class="container">
      {% block content %}{% end %}
  </div>
  {% include 'footer.hbs' %}
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/panoptes.js"></script>
  <script src="/static/js/blueimp-gallery.min.js"></script>
  <script type="text/javascript">
    // Startup
    var ws;
    $( document ).ready(function() {
      // Image refresh timer
      second = 1000;

      ws = WebSocketTest(window.location.host);

      // Refresh images
      setInterval(refresh_images, 60 * second);

      $('#chat_clear').on('click', function(){
        event.preventDefault();
        $('#bot_chat').empty();
      });

      $('#park_button').on('click', function(){
        event.preventDefault();
        ws.send('park');

        $('#park_button').addClass('disabled');
        $('#unpark_button').addClass('disabled');
        $('#polar_align_button').addClass('disabled');
      });

      $('#unpark_button').on('click', function(){
        event.preventDefault();
        ws.send('unpark');

        $('#park_button').removeClass('disabled');
        $('#polar_align_button').removeClass('disabled');
        $('#unpark_button').addClass('disabled');
      });

      $('#polar_align_button').on('click', function(){
        event.preventDefault();
        ws.send('polar_alignment');

        $('#park_button').addClass('disabled');
        $('#unpark_button').addClass('disabled');
        $('#polar_align_button').addClass('disabled');
      });


      // Block for include js per page
      {% block bottom %}{% end %}
    });
  </script>
</body>
</html>