<div class="box box-widget">
  <div class="box-header with-border">
    <div class='user-block'>
      {% block header %}{% end %}
    </div><!-- /.user-block -->
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
          {% block photo %}{% end %}
  </div><!-- /.box-body -->
</div><!-- /.box -->
