div.padded
{
    margin: .25rem;
    padding: .5rem;
}

.callout > :last-child
{
    margin-bottom: .05rem;
}

img.avatar
{
    width: 45px;
    margin: 2px;

    vertical-align: top;

    border: 1px solid lightgray;
    border-radius: 18%;
}

div.chat
{
    overflow-y: scroll;

    height: 260px;
}

.dl-horizontal dt
{
    display: block;
    float: left;

    width: 49%;
    height: 2rem;
    margin-bottom: 0;
}

.dl-horizontal dd
{
    font-family: monospace;

    display: block;
    float: left;

    width: 49%;
    height: 2rem;

    text-align: right;
}

.dl-horizontal dt.sub
{
    font-size: 70%;

    text-indent: 1rem;
}

.safe_borders
{
    border: 1px solid #088263;
}

.unsafe_borders
{
    border: 1px solid #c16363;
}

.primary
{
    color: #477fd2;
}
.secondary
{
    color: #f67e7d;
}
.success
{
    color: #088263;
}
.info
{
    color: #3498db;
}
.warning
{
    color: #f39c12;
}
.danger
{
    color: #c16363;
}
