.user-image, img.avatar {
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 18%;
    vertical-align: top;
    margin: 2px;
}

.panel {
    min-height: 275px;
}

div.chat {
    overflow-y: scroll;
    height: 260px
}

dd {
    font-family: monospace;
}

.content-wrapper,
.right-side {
  background-color: #222222;
}