{% extends "site/panel.hbs" %}
{% block title %} Aladin-Lite {% end %}
{% block panel %}

    <!-- 4:3 aspect ratio -->
    <div id="aladin_embedding_overview_id" class="embed-responsive embed-responsive-1by1">
      <iframe id="aladin_iframe_id" src="http://localhost:8000/static/images/HIPS/index.html" style: "display:none;" onload="onAladinLoadHandler();"></iframe>
    </div>

    <a href="#" data-toggle="modal" data-target="#modal_aladin_info">
      Go to full screen
    </a>
    
    <div class="modal fade" id="modal_aladin_info" tabindex="-1" role="dialog" aria-labelledby="aladin_modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body" id="actual_embed_div">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% end %}
