{% extends "site/panel.hbs" %}
{% block title %} Aladin-Lite {% end %}
{% block panel %}

    <!-- 4:3 aspect ratio -->
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="http://localhost:8000/static/images/HIPS/index.html"></iframe>
    </div>

{% end %}
