{% extends "site/panel.hbs" %}
{% block title %}
  Camera Info
{% end %}
{% block panel %}
  <dl id="Cam00" class="dl-horizontal">
    <dt>Visit:</dt> <dd> <span class="visit_num">N/A</span> </dd>
    <dt>Exp:</dt> <dd> <span class="exp_num">N/A</span> / <span class="exp_total">N/A</span> </dd>
    <dt>Exp Time:</dt> <dd> <span class="exp_count">N/A</span> <span class="exptime">N/A</span>
    <div class="progress progress-xxs active">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>
    </dd>
  </dl>
  <dl id="Cam01" class="dl-horizontal">
    <dt>Visit:</dt> <dd> <span class="visit_num">N/A</span> </dd>
    <dt>Exp:</dt> <dd> <span class="exp_num">N/A</span> / <span class="exp_total">N/A</span> </dd>
    <dt>Exp Time:</dt> <dd> <span class="exp_count">N/A</span> <span class="exptime">N/A</span>
    <div class="progress progress-xxs active">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>
    </div>
    </dd>
  </dl>
{% end %}