<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h2 class="box-title">Images</h2>
    </div>
    <div class="box-body panel">
        <table id="target_list" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Target</th>
                    <th>Visit</th>
                </tr>
            </thead>
            <tbody>
                {% for target in target_list %}
                {% set t, obs = target.split('/') %}
                    <tr>
                        <td><a href="{{ static_url('images/fields/' + t) }}">{{ escape(t) }}</a></td>
                        <td><a href="{{ static_url('images/fields/' + target) }}">{{ escape(obs) }}</a></td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>