{% extends "site/base.html" %}
{% block content %}
    <div class="row small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on="medium">
        <div class="columns" id="weather_panel">
            {% module WeatherInfo() %}
        </div>
        <div class="columns" id="mount_panel">
            {% module MountInfo() %}
        </div>
        <div class="columns" id="target_panel">
            {% module TargetInfo() %}
        </div>
        <div class="columns" id="system_panel">
            {% module SystemInfo() %}
        </div>
        <div class="columns" id="state_panel">
            {% module StateInfo() %}
        </div>
        <div class="columns" id="camera_panel">
            {% module CameraInfo() %}
        </div>
        <div class="columns" id="chat_panel">
            {% module BotChat() %}
        </div>
        <div class="columns">
            {% module CurrentImage('http://166.122.71.162:8083/4.jpg', 'VYSOS Webcam') %}
        </div>
        <div class="columns">
            {% module CurrentImage('/static/images/video0.jpeg', 'Webcam 01') %}
        </div>
            <div class="columns">
            {% module CurrentImage('/static/images/video1.jpeg', 'Webcam 02') %}
        </div>
    </div>
{% end %}