{% extends "site/base.hbs" %}
{% block content %}
    <div class="row equal">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% module WeatherInfo() %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 img_refresh">
            {% module Image('/static/weather_plots/today.png', 'today_weather', "Today's Weather") %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% module SystemInfo() %}
        </div>
    </div>
    <div class="row equal">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% module MountInfo() %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% module ObservationInfo() %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 img_refresh">
            {% module StateInfo() %}
        </div>
    </div>
    <div class="row equal">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% module BotChat() %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 img_refresh">
            {% module Image('/static/images/latest.jpg', 'latest_img', 'Latest Image') %}
        </div>
    </div>
{% end %}