{% extends "site/panel.hbs" %}
{% block title %} Mount Info {% end %}
{% block panel %}
  <dl id="mount_info" class="dl-horizontal">
    <dt>Target HA / Dec:</dt> <dd> <span class="mount_target_ha">N/A</span> <span class="mount_target_dec">N/A</span> </dd>
    <dt>Current HA / Dec:</dt> <dd> <span class="current_ha">N/A</span> <span class="current_dec">N/A</span> </dd>
    <dt>Current RA / Dec:</dt> <dd> <span class="current_ra">N/A</span> <span class="current_dec">N/A</span> </dd>
    <dt>Tracking Rate:</dt> <dd> <span class="tracking_rate">N/A</span> </dd>
    <dt>Guide Rate:</dt> <dd> <span class="guide_rate">N/A</span> </dd>
    <dt>Mount Time:</dt> <dd> <span class="timestamp">N/A</span> </dd>
    <dt>Accelerometer:</dt><dd><span class="">&nbsp;</span></dd>
    <dt></dt><dd>
      <small>X: </small>
      <span class="pull-right"><span class="position_x">N/A</span><br /></span></br>
      
      <small>Y: </small>
      <span class="pull-right"><span class="position_y">N/A</span><br /></span></br>
      
      <small>Z: </small>
      <span class="pull-right"><span class="position_z">N/A</span><br /></span></br>
      
      <small>O: </small>
      <span class="pull-right"><span class="position_o">N/A</span><br /></span></br>
      
    </dd>        
  </dl>
{% end %}