{% extends "site/panel.hbs" %}
{% block title %}
    Observation Info
{% end %}
{% block panel %}
    <dl id="observation_info" class="dl-horizontal">
        <dt>Name:</dt> <dd> <span class="field_name">N/A</span> </dd>
        <dt>Field HA / Dec:</dt> <dd> <span class="field_ha">N/A</span> / <span class="field_dec">N/A</span> </dd>
        <dt>Field RA / Dec:</dt> <dd> <span class="field_ra">N/A</span> / <span class="field_dec">N/A</span> </dd>
        <br />
        <dt>Time per exposure</dt> <dd> <span class="time_per_exposure">N/A</span> sec</dd>
        <dt>Total duration</dt> <dd><span class="total_exposure">N/A</span> sec</dd>
        <dt>Current exposure</dt> <dd><span class="current_exp">N/A</span> / <span class="number_exposure">N/A</span> </dd>
        <br />
		<dt>Merit</dt> <dd><span class="merit">N/A</span></dd>
		<dt>Priority</dt> <dd><span class="priority">N/A</span></dd>
		<dt>Sequence</dt> <dd><span class="seq_time">N/A</span></dd>
    </dl>
{% end %}

