{% extends "site/panel.html" %}
{% block title %}
    Observation Info
{% end %}
{% block panel %}
    <dl id="observation_info" class="dl-horizontal">
        <dt>Name:</dt> <dd> <span class="field_name">N/A</span> </dd>
        <dt>Field HA / Dec:</dt> <dd> <span class="field_ha">N/A</span> <span class="field_dec">N/A</span> </dd>
        <dt>Field RA / Dec:</dt> <dd> <span class="field_ra">N/A</span> <span class="field_dec">N/A</span> </dd>
		<dt>Exp Time</dt> <dd> <span class="timer"></span> / <span class="exp_time">N/A</span> sec</dd>
		<dt>Exposure</dt> <dd><span class="current_exp">N/A</span> / <span class="min_nexp">N/A</span> [<span class="exp_set_size">N/A</span>]</dd>
		<dt>Duration</dt> <dd><span class="minimum_duration">N/A</span> [<span class="set_duration">N/A</span>] sec</dd>
		<dt>Merit</dt> <dd><span class="merit">N/A</span></dd>
		<dt>Priority</dt> <dd><span class="priority">N/A</span></dd>
		<dt>Sequence</dt> <dd><span class="seq_time">N/A</span></dd>
    </dl>
{% end %}

