{% extends "site/panel.hbs" %}
{% block title %} Polar Align {% end %}
{% block panel %}
<a class="btn btn-default btn-xs" href="#" id='unpark_button'>
	Unpark
</a>	
<a class="btn btn-default btn-xs" href="#" id='park_button'>
	Park
</a>	
<a class="btn btn-default btn-xs" href="#" id='polar_align_button'>
	Polar Align
</a>	

{% end %}