{% extends "site/panel.html" %}
{% block title %}
    State Info
{% end %}
{% block panel %}
    <dl class="dl-horizontal metro">
        <dt>State:</dt> <dd><span class="current_state"><i class="fa fa-bolt warning"></i> <strong><span class="warning">Offline</span></strong></span></dd>
    </dl>
    <a data-open="modal_state_img">
        <img src="/static/images/state.svg" class="img-responsive pad thumbnail state_img" alt="State Diagram Image" />
    </a>
    <div class="reveal large title-bar" id="modal_state_img" data-reveal>
        <h1>State Diagram</h1>
        <img src="/static/images/state.svg" class="state_img" alt="State Diagram Image" />
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% end %}