{% extends "site/panel.hbs" %}
{% block title %}
    State Info
{% end %}
{% block panel %}
    <dl class="dl-horizontal metro">
        <dt>State:</dt> <dd><span class="current_state"><i class="fa fa-bolt warning"></i> <strong><span class="warning">Offline</span></strong></span></dd>
    </dl>
    <a href="#" class="thumbnail" data-toggle="modal" data-target="#state_modal">
        <img src="/static/images/state.svg" class="thumbnail state_img" alt="State Diagram Image" />
    </a>
    <div class="modal fade" id="state_modal" tabindex="-1" role="dialog" aria-labelledby="state_modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img src="/static/images/state.svg" class="" alt="State Diagram Image"  style="width:100%" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    
{% end %}