{% extends "site/panel.hbs" %}
{% block title %} System Info {% end %}
{% block panel %}
  <dl id="mount_info" class="dl-horizontal">
    <dt>UTC Time:</dt><dd><span class="utctime">N/A</span></dd>
    <dt>Local Time:</dt><dd><span class="localtime">N/A</span></dd>
    <dt>Sidereal Time:</dt><dd><span class="siderealtime">N/A</span></dd>
    <dt>Sun:</dt><dd>
      <small>Set: </small><span class="local_evening_astro_time">N/A</span> <small>UTC</small><br />
      <small>Rise: </small><span class="local_morning_astro_time">N/A</span> <small>UTC</small><br />
    </dd>
    <dt>Moon:</dt><dd>
      <small>Alt: </small><span class="local_moon_alt">N/A</span>&deg;<br />
      <small>Full: </small><span class="local_moon_illumination">N/A</span> %<br />
    </dd>
    <dt>Scope controller:</dt><dd><span class="">&nbsp;</span></dd>
    <dt></dt><dd>

    <small>Camera relay: </small>
    <span class="pull-right"><span class="camera_relay">N/A</span><br /></span></br>
      
    <small>Corrector dew heater: </small>
    <span class="pull-right"><span class="corrector_dew">N/A</span><br /></span></br>
      
    <small>Finder dew heater: </small>
    <span class="pull-right"><span class="finder_dew">N/A</span><br /></span></br>

    <small>Finder dustcap open: </small>
    <span class="pull-right"><span class="finder_dustcap_open">N/A</span><br /></span></br>

    <small>Flat panel: </small>
    <span class="pull-right"><span class="flat_panel">N/A</span><br /></span></br>

    <small>Mount relay: </small>
    <span class="pull-right"><span class="mount_relay">N/A</span><br /></span></br>

    <small>Scope dew heater: </small>
    <span class="pull-right"><span class="scope_dew">N/A</span><br /></span></br>

    <small>Scope dustcap open: </small>
    <span class="pull-right"><span class="scope_dustcap_open">N/A</span><br /></span></br>

    <small>Scope fan: </small>
    <span class="pull-right"><span class="scope_fan">N/A</span><br /></span></br>
      
    </dd>    
  </dl>
{% end %}
