{% extends "site/panel.html" %}
{% block title %} System Info {% end %}
{% block panel %}
  <dl id="mount_info" class="dl-horizontal">
    <dt>UTC Time:</dt><dd><span class="utc_time">N/A</span></dd>
    <dt>Local Time:</dt><dd><span class="local_time">N/A</span></dd>
    <dt>Sun:</dt><dd><span class="local_sun_alt">N/A</span></dd>
    <dt class="sub">Sunset:</dt><dd><span class="local_sunset">N/A</span></dd>
    <dt class="sub">Sunrise:</dt><dd><span class="local_sunrise">N/A</span></dd>
    <dt>Moon:</dt><dd><span class="local_moon_alt">N/A</span></dd>
    <dt class="sub">Moonset:</dt><dd><span class="local_moonset">N/A</span></dd>
    <dt class="sub">Moonrise:</dt><dd><span class="local_moonrise">N/A</span></dd>
  </dl>
{% end %}