{% extends "site/panel.html" %}
{% block title %} System Info {% end %}
{% block panel %}
  <dl id="mount_info" class="dl-horizontal">
    <dt>UTC Time:</dt><dd><span class="utctime">N/A</span></dd>
    <dt>Local Time:</dt><dd><span class="localtime">N/A</span></dd>
    <dt>Sidereal Time:</dt><dd><span class="siderealtime">N/A</span></dd>
    <dt>Sun:</dt><dd>
      <small>Alt: </small><span class="local_sun_alt">N/A</span>&deg;
    </dd>
    <dt class="sub">Set:</dt>
    <dd>
      <span class="local_evening_astro_time">N/A</span> <small>UTC</small>
    </dd>
    <dt class="sub">Rise:</dt>
    <dd>
      <span class="local_morning_astro_time">N/A</span> <small>UTC</small>
    </dd>
    <dt>Moon:</dt><dd>
      <small>Alt: </small><span class="local_moon_alt">N/A</span>&deg;
      <small>Full: </small><span class="local_moon_illumination">N/A</span>
    </dd>
  </dl>
{% end %}