{% extends "site/panel.html" %}
{% block title %}
    Target Info
{% end %}
{% block panel %}
    <dl id="target_info" class="dl-horizontal">
        <dt>Target:</dt> <dd> <span class="target_name">N/A</span> </dd>
        <dt>Target HA / Dec:</dt> <dd> <span class="target_ha">N/A</span> <span class="target_dec">N/A</span> </dd>
    </dl>
    <p class="text-center">
        <a href="/static/images/latest.jpg" target="_blank"><img src="/static/images/latest_tn.png" height="190px" alt="Latest observation image"></a>
    </p>
{% end %}