{% extends "site/panel.html" %}
{% block title %} Weather {% end %}
{% block panel %}
<dl id="weather_info" class="dl-horizontal">
    <dt>Safe:</dt> <dd> <span class="safe_condition">N/A</span> </dd>
    <dt>Temp (c):</dt> <dd> <span class="temp_info">N/A</span></dd>
    <dt>Wind (km/h):</dt> <dd> <span class="wind_speed">N/A</span> (<span class="wind_condition">N/A</span>)</dd>
    <dt>Sky:</dt> <dd> <span class="sky_condition">N/A</span> </dd>
    <dt>Rain:</dt> <dd> <span class="rain_condition">N/A</span> </dd>
    <dt>weather_sensor_name</dt> <dd> <span class="weather_sensor_name">N/A</span></dd>
    <dt>weather_sensor_firmware_version</dt> <dd> <span class="weather_sensor_firmware_version">N/A</span></dd>
    <dt>weather_sensor_serial_number</dt> <dd> <span class="weather_sensor_serial_number">N/A</span></dd>
    <dt>sky_temp_C</dt> <dd> <span class="sky_temp_C">N/A</span></dd>
    <dt>ambient_temp_C</dt> <dd> <span class="ambient_temp_C">N/A</span></dd>
    <dt>internal_voltage_V</dt> <dd> <span class="internal_voltage_V">N/A</span></dd>
    <dt>ldr_resistance_Ohm</dt> <dd> <span class="ldr_resistance_Ohm">N/A</span></dd>
    <dt>rain_sensor_temp_C</dt> <dd> <span class="rain_sensor_temp_C">N/A</span></dd>
    <dt>rain_frequency</dt> <dd> <span class="rain_frequency">N/A</span></dd>
    <dt>pwm_value</dt> <dd> <span class="pwm_value">N/A</span></dd>
    <dt>errors</dt> <dd> <span class="errors">N/A</span></dd>
    <dt>wind_speed_KPH</dt> <dd> <span class="wind_speed_KPH">N/A</span></dd>
    <dt>safe</dt> <dd> <span class="safe">N/A</span></dd>
    <dt>sky_condition</dt> <dd> <span class="sky_condition">N/A</span></dd>
    <dt>wind_condition</dt> <dd> <span class="wind_condition">N/A</span></dd>
    <dt>gust_condition</dt> <dd> <span class="gust_condition">N/A</span></dd>
    <dt>rain_condition</dt> <dd> <span class="rain_condition">N/A</span></dd>
</dl>
{% end %}