{% extends "site/panel.html" %}
{% block title %} Weather Station {% end %}
{% block panel %}
<table>
  <thead>
    <tr>
      <th width="30%">&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Temp (c):</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Wind (km/h):</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Sky:</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Rain:</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Safe:</td>
      <td>&nbsp;</td>
    </tr>
</tbody>
</table>
<a href="/static/weather_plots/today.png" target="_blank" class="text-center img_refresh">
<img class="img-responsive pad" src="/static/weather_plots/today.png" alt="Today's Weather">
</a>
{% end %}