{% extends "site/panel.hbs" %}
{% block title %} Weather {% end %}
{% block panel %}
<dl id="weather_info" class="dl-horizontal">
    <dt>Safe:</dt> <dd> <strong><span class="safe_condition text-success">N/A</span></strong> </dd>
    <dt>Sensor name:</dt> <dd> <span class="weather_sensor_name">N/A</span></dd>
    <dt>Temp:</dt> <dd> <span class="WEATHER_TEMPERATURE">N/A</span>&deg; <small class="unit_temp">C</small></dd>
    <dt>Wind:</dt> <dd> <span class="WEATHER_WIND_SPEED">N/A</span> <small>km/h</small></dd>
    <dt>Gust:</dt> <dd> <span class="WEATHER_WIND_GUST">N/A</span> <small>km/h</small></dd>
    <dt>Rain:</dt> <dd> <span class="WEATHER_RAIN_HOUR">N/A</span> <small>mm/h</small></dd>
</dl>
    <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal_weather_plot"> Goto plots
    </a>
    <div class="modal fade" id="modal_weather_plot" tabindex="-1" role="dialog" aria-labelledby="weather_modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
          {% raw script %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% end %}
